Cython
Flask>=0.11.1
Flask-SQLAlchemy>=1.0
Flask-WTF>=0.9.3
coverage
flask-login
flask-openid
flask-mail
sqlalchemy-migrate
flask-whooshalchemy
flask-babel
guess_language
flipflop
Flask-Bcrypt 
Jinja2>=2.8
gunicorn>=19.6.0
aiml