#chat-dialog
{
	display:none;
	
}
.chat-form-container {
   
   border: 2px solid #f2e3d2;
 /*  background: #c9b7a2;
   background: -webkit-gradient(linear, left top, left bottom, from(#ba6912), to(#c9b7a2));
   background: -webkit-linear-gradient(top, #ba6912, #c9b7a2);
   background: -moz-linear-gradient(top, #ba6912, #c9b7a2);
   background: -ms-linear-gradient(top, #ba6912, #c9b7a2);
   background: -o-linear-gradient(top, #ba6912, #c9b7a2);
   background-image: -ms-linear-gradient(top, #ba6912 0%, #c9b7a2 100%);*/
   
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

   -webkit-border-radius: 26px;
   -moz-border-radius: 26px;
   border-radius: 26px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:10px;
   width:1000px;
   }
  
   .ui-dialog
   {
   
   border: 2px solid #f2e3d2;
 /*  background: #c9b7a2;
   background: -webkit-gradient(linear, left top, left bottom, from(#ba6912), to(#c9b7a2));
   background: -webkit-linear-gradient(top, #ba6912, #c9b7a2);
   background: -moz-linear-gradient(top, #ba6912, #c9b7a2);
   background: -ms-linear-gradient(top, #ba6912, #c9b7a2);
   background: -o-linear-gradient(top, #ba6912, #c9b7a2);
   background-image: -ms-linear-gradient(top, #ba6912 0%, #c9b7a2 100%);
   
	background: #eeeeee; 
	background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); 
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); 
	background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
	*/
	
	
   -webkit-border-radius: 26px;
   -moz-border-radius: 26px;
   border-radius: 26px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:40px;
   width:1000px;
   }
   
.chat-form-field {
   border: 1px solid #c9b7a2;
   background: #e4d5c3;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #c9b7a2;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:16px;
   margin-bottom:40px;
   width:900px;
   }
.chat-form-field:focus {
   background: #fff;
   color: #725129;
   }
.chat-form-container h2 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.chat-form-title {
   margin-bottom:10px;
   color: #725129;
   text-shadow: #fdf2e4 0 1px 0;
   }
.chat-submit-container {
   margin:16px 0;
   text-align:right;
   height:50px;
   }
 /*
  .submit-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
	border:3px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 0px 7px #ffffff;
}
.submit-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.submit-button:active {
	position:relative;
	top:1px;
}
*/
.chat-submit-button {
	-moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	-webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0f5e7), color-stop(1, #d8e0d3));
	background:-moz-linear-gradient(top, #f0f5e7 5%, #d8e0d3 100%);
	background:-webkit-linear-gradient(top, #f0f5e7 5%, #d8e0d3 100%);
	background:-o-linear-gradient(top, #f0f5e7 5%, #d8e0d3 100%);
	background:-ms-linear-gradient(top, #f0f5e7 5%, #d8e0d3 100%);
	background:linear-gradient(to bottom, #f0f5e7 5%, #d8e0d3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f5e7', endColorstr='#d8e0d3',GradientType=0);
	background-color:#f0f5e7;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 2px #f0f0f0;
}
.chat-submit-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d8e0d3), color-stop(1, #f0f5e7));
	background:-moz-linear-gradient(top, #d8e0d3 5%, #f0f5e7 100%);
	background:-webkit-linear-gradient(top, #d8e0d3 5%, #f0f5e7 100%);
	background:-o-linear-gradient(top, #d8e0d3 5%, #f0f5e7 100%);
	background:-ms-linear-gradient(top, #d8e0d3 5%, #f0f5e7 100%);
	background:linear-gradient(to bottom, #d8e0d3 5%, #f0f5e7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8e0d3', endColorstr='#f0f5e7',GradientType=0);
	background-color:#d8e0d3;
}
.chat-submit-button:active {
	position:relative;
	top:1px;
}

   
 #chat-textarea {
  border: 1px solid #c9b7a2;
   background: #e4d5c3;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100 */
background: rgb(252,255,244); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */

   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:16px;
   height: 200px;
   width: 900px;
   overflow:scroll;
}
.messagebot
{
position:relative;
	width:100%;
	text-align: left;
}
.messageuser
{
	position:relative;
	width:100%;
	text-align: right;
}
.botreply
{	
	background-color:white;
	border:2px solid white;
	border-radius:10%;
	padding:1% 1% 1% 1%;
	text-align:left;
	margin-left:0px;
	display: inline-block;
}

.userrequest
{	
	background-color:#E3FAE3;
	border:2px solid #E3FAE3;
	border-radius:10%;
	padding:1% 1% 1% 1%;
	text-align:right;
	margin-right:0px;
	display: inline-block;
}
.ui-dialog {
    z-index: 1060 ;
}

.ratingforreply
{
	
	
}