user
Hi
10:32 AM 22/08/2016
bot
Hi there!
10:32 AM 22/08/2016
user
how are you?
10:32 AM 22/08/2016
bot
My logic and cognitive functions are normal.
10:32 AM 22/08/2016
user
Hi
07:16 AM 11/09/2016
bot
Hi there!
07:16 AM 11/09/2016
user
This is a chat bot
07:16 AM 11/09/2016
bot
What makes you say that?
07:16 AM 11/09/2016
user
i don't knwo
07:16 AM 11/09/2016
bot
Would you ever do knwo?
07:16 AM 11/09/2016
user
?
07:16 AM 11/09/2016
bot

07:16 AM 11/09/2016
user
bad answer
07:16 AM 11/09/2016
bot
What would you have said?
07:16 AM 11/09/2016
user
what do you don't know
07:16 AM 11/09/2016
bot
, I talk to people on the web. What do you do?
07:16 AM 11/09/2016
user
HI
04:53 AM 14/09/2016
bot
Hi there!
04:53 AM 14/09/2016
user
WHAT IS FINANCIAL LITERACY
06:49 AM 14/09/2016
bot
According to the wikis,Financial literacy is the ability to understand how money works in the world: how someone manages to earn or make it, how that person manages it, how he/she invests it (turn it into more) and how that person donates it to help others. More specifically, it refers to the set of skills and knowledge that allows an individual to make informed and effective decisions with all of their financial resources.Raising interest in personal finance is now a focus of state-run programs in countries including Australia, Canada, Japan, the United States and the UK.
06:49 AM 14/09/2016
user
what is financial literacy
06:50 AM 14/09/2016
bot
According to the wikis,Financial literacy is the ability to understand how money works in the world: how someone manages to earn or make it, how that person manages it, how he/she invests it (turn it into more) and how that person donates it to help others. More specifically, it refers to the set of skills and knowledge that allows an individual to make informed and effective decisions with all of their financial resources.Raising interest in personal finance is now a focus of state-run programs in countries including Australia, Canada, Japan, the United States and the UK.
06:50 AM 14/09/2016
user
what should i buy?
06:55 AM 14/09/2016
bot
Are you asking me for advice?
06:55 AM 14/09/2016
user
which scheme is the best
06:55 AM 14/09/2016
bot
The blue  one, I think.
06:55 AM 14/09/2016
user
suggest me scheme
06:55 AM 14/09/2016
bot
Go for equity funds to earn nice wealth but has more risk
06:55 AM 14/09/2016
user
can you suggest me a scheme
06:55 AM 14/09/2016
bot
I think I can, don't you?I can't think of any. You suggest him a scheme.
06:55 AM 14/09/2016
user
can you suggest me scheme
06:55 AM 14/09/2016
bot
I think I can, don't you?Go for equity funds to earn nice wealth but has more risk
06:55 AM 14/09/2016
user
give me some idea about financial investments
01:29 AM 19/09/2016
bot
Why do you want idea about financial investments?
01:29 AM 19/09/2016
