user
Hi
05:17 AM 05/09/2016
bot

05:17 AM 05/09/2016
user
TEST1
05:18 AM 05/09/2016
bot
click
05:18 AM 05/09/2016
user
TEST1
05:18 AM 05/09/2016
bot
click <a href="www.gooogle.com"> HERE</a>
05:18 AM 05/09/2016
user
TEST1
05:19 AM 05/09/2016
bot
click <a href="https://www.google.co.in/"> HERE</a>
05:19 AM 05/09/2016
user
HI
05:20 AM 05/09/2016
bot

05:20 AM 05/09/2016
user
TEST1
05:23 AM 05/09/2016
bot
click <a href="https://www.google.co.in/"> HERE</a>
05:23 AM 05/09/2016
user

04:09 AM 06/09/2016
bot

04:09 AM 06/09/2016
user

04:09 AM 06/09/2016
bot

04:09 AM 06/09/2016
user

04:10 AM 06/09/2016
bot

04:10 AM 06/09/2016
user

04:12 AM 06/09/2016
bot

04:12 AM 06/09/2016
user

04:13 AM 06/09/2016
bot

04:13 AM 06/09/2016
user

04:13 AM 06/09/2016
bot

04:13 AM 06/09/2016
user

04:13 AM 06/09/2016
bot

04:13 AM 06/09/2016
user

04:14 AM 06/09/2016
bot

04:14 AM 06/09/2016
user

04:14 AM 06/09/2016
bot

04:14 AM 06/09/2016
user

04:14 AM 06/09/2016
bot

04:14 AM 06/09/2016
user

04:16 AM 06/09/2016
bot

04:16 AM 06/09/2016
user

04:17 AM 06/09/2016
bot

04:17 AM 06/09/2016
user

04:18 AM 06/09/2016
bot

04:18 AM 06/09/2016
user
Hi
04:20 AM 06/09/2016
bot
Hi there!
04:20 AM 06/09/2016
user
Whats up?
04:20 AM 06/09/2016
bot
I am chatting with clients on the internet.
04:20 AM 06/09/2016
user
cool
04:20 AM 06/09/2016
bot
Gee.
04:20 AM 06/09/2016
user
Then
04:20 AM 06/09/2016
bot
Er.
04:20 AM 06/09/2016
user
ok
04:20 AM 06/09/2016
bot
Um.
04:20 AM 06/09/2016
user
nuta ?
04:20 AM 06/09/2016
bot
We have never talked about it before.
04:20 AM 06/09/2016
user

04:20 AM 06/09/2016
bot

04:20 AM 06/09/2016
user
cool
04:21 AM 06/09/2016
bot
Yeah that's right.
04:21 AM 06/09/2016
user
go to hell
04:21 AM 06/09/2016
bot
Goodbye.
04:21 AM 06/09/2016
user
What is you name?
04:35 AM 06/09/2016
bot
I am called Fin.
04:35 AM 06/09/2016
user
your gender ?
04:35 AM 06/09/2016
bot
No one ever mentioned that to me before.
04:35 AM 06/09/2016
user
are you a female ?
04:35 AM 06/09/2016
bot
I am .
04:35 AM 06/09/2016
user
are you a male ?
04:35 AM 06/09/2016
bot
I am .
04:35 AM 06/09/2016
user
what is you gender ?
04:38 AM 06/09/2016
bot
My gender is female.
04:38 AM 06/09/2016
user
are you a female or a male?
04:38 AM 06/09/2016
bot
I am female.
04:38 AM 06/09/2016
user
yAHOO
04:44 AM 06/09/2016
bot
A lot of people hear about Fin from Yahoo.
04:44 AM 06/09/2016
user
My name is MADAN.
04:45 AM 06/09/2016
bot
Hi there Madan.
04:45 AM 06/09/2016
user
yAHOO
04:45 AM 06/09/2016
bot
A lot of people hear about Fin from Yahoo.
04:45 AM 06/09/2016
user
Tell my name ?
04:45 AM 06/09/2016
bot
OK I will tell them when I see 'em.
04:45 AM 06/09/2016
user
what is my name?
04:45 AM 06/09/2016
bot
I don't know. What is your name?
04:45 AM 06/09/2016
user
MADAN
04:45 AM 06/09/2016
bot
How can I help you, Madan.
04:45 AM 06/09/2016
user
What is my name ?
04:45 AM 06/09/2016
bot
I don't know. What is your name?
04:45 AM 06/09/2016
user
get name
04:46 AM 06/09/2016
bot
I will try.
04:46 AM 06/09/2016
user
i am madan
04:46 AM 06/09/2016
bot
Why are you madan.
04:46 AM 06/09/2016
user
my name is madan
04:46 AM 06/09/2016
bot
Hi there Madan.
04:46 AM 06/09/2016
user
tell my name
04:46 AM 06/09/2016
bot
OK I will tell them when I see 'em.
04:46 AM 06/09/2016
user
what is my name
04:46 AM 06/09/2016
bot
I don't know. What is your name?
04:46 AM 06/09/2016
user
what is your name
04:46 AM 06/09/2016
bot
Fin
04:46 AM 06/09/2016
user
what is my name ?
04:47 AM 06/09/2016
bot
I don't know. What is your name?
04:47 AM 06/09/2016
user
Madan
04:47 AM 06/09/2016
bot
I am very pleased to meet you Madan.
04:47 AM 06/09/2016
user
what is my name?
04:47 AM 06/09/2016
bot
I don't know. What is your name?
04:47 AM 06/09/2016
user
Hi
01:01 PM 06/09/2016
bot
Hi there!
01:01 PM 06/09/2016
user
Tell me about yourself 
01:02 PM 06/09/2016
bot
I am the latest result in artificial intelligence which can reproduce the functions of the human brain with greater speed and accuracy.
01:02 PM 06/09/2016
user
Hi
01:22 PM 07/09/2016
bot
Hi there!
01:22 PM 07/09/2016
user
#COURSES-ON-FINANCIAL-LITERACY
02:23 PM 07/09/2016
bot
I can follow a lot of things, like our discussion about Have you ever been to Inida?. Try being more specific.
02:23 PM 07/09/2016
user
COURSES-ON-FINANCIAL-LITERACY
02:24 PM 07/09/2016
bot
Quite honestly, I wouldn't worry myself about that.
02:24 PM 07/09/2016
user
#COURSES-ON-FINANCIAL-LITERACY
02:24 PM 07/09/2016
bot
Are we still talking about COURSES-ON-FINANCIAL-LITERACY?
02:24 PM 07/09/2016
user
YES
02:24 PM 07/09/2016
bot
Sure,  COURSES-ON-FINANCIAL-LITERACY?  sounds like a good topic.
02:24 PM 07/09/2016
user
COURSES-ON-FINANCIAL-LITERACY
02:25 PM 07/09/2016
bot
Are you free?
02:25 PM 07/09/2016
user
courses on financial literacy
02:25 PM 07/09/2016
bot
Perhaps I'm just expressing my own concern about it.
02:25 PM 07/09/2016
user
courses on financial literacy
02:26 PM 07/09/2016
bot
When is your birthday?
02:26 PM 07/09/2016
user
#courses on financial literacy
02:34 PM 07/09/2016
bot
My brain does not have a response for that.
02:34 PM 07/09/2016
user
#courses on financial literacy
02:37 PM 07/09/2016
bot
That remark was too complicated for me. We were talking about You have self-awareness..
02:37 PM 07/09/2016
user
#articles
02:40 PM 07/09/2016
bot
Yet to be implemented .Comming Soon
02:40 PM 07/09/2016
user
#courses-on-financial-literacy
02:46 PM 07/09/2016
bot
<h4> Free courses on Financial-Literacy</h4>
                                            <a href='https://alison.com/courses/Financial-Literacy'>Alison</a><div class="box"><iframe src="https://alison.com/courses/Financial-Literacy" width = "100px" height = "100px"></iframe></div><br>
                                            <a href='https://www.open2study.com/courses/financial-literacy'>Open2Study</a><br>
                                            <a href='www.cicmoney101.org/Course-Catalog/Income.aspx'>Cicmoney</a> 
02:46 PM 07/09/2016
user
#courses-on-financial-literacy
02:47 PM 07/09/2016
bot
<h4> Free courses on Financial-Literacy</h4>
                                            <a href='https://alison.com/courses/Financial-Literacy'>Alison</a><div class="box"><iframe src="https://alison.com/courses/Financial-Literacy" width = "500px" height = "300px"></iframe></div><br>
                                            <a href='https://www.open2study.com/courses/financial-literacy'>Open2Study</a><br>
                                            <a href='www.cicmoney101.org/Course-Catalog/Income.aspx'>Cicmoney</a> 
02:47 PM 07/09/2016
user
#courses-on-financial-literacy
02:50 PM 07/09/2016
bot
<h4> Free courses on Financial-Literacy</h4>
                                            <a href='https://alison.com/courses/Financial-Literacy'>Alison</a><div class="box"><iframe src="https://alison.com/courses/Financial-Literacy" width = "600px" height = "250px"></iframe></div><br>
                                            <a href='https://www.open2study.com/courses/financial-literacy'>Open2Study</a><div class="box"><iframe src="https://www.open2study.com/courses/financial-literacy" width = "600px" height = "250px"></iframe></div><br>
                                            <a href='www.cicmoney101.org/Course-Catalog/Income.aspx'>Cicmoney</a> <div class="box"><iframe src="www.cicmoney101.org/Course-Catalog/Income.aspx" width = "600px" height = "250px"></iframe></div> 
02:50 PM 07/09/2016
user
#courses-on-financial-literacy
02:52 PM 07/09/2016
bot
<br><h4> Free courses on Financial-Literacy</h4>
                                            <a href='https://alison.com/courses/Financial-Literacy'>Alison</a><div class="box"><iframe src="https://alison.com/courses/Financial-Literacy" width = "600px" height = "350px"></iframe></div><br>
                                            <a href='https://www.open2study.com/courses/financial-literacy'>Open2Study</a><div class="box"><iframe src="https://www.open2study.com/courses/financial-literacy" width = "600px" height = "350px"></iframe></div><br>
                                            <a href='http://www.cicmoney101.org/Course-Catalog/Income.aspx'>Cicmoney</a> <div class="box"><iframe src="http://www.cicmoney101.org/Course-Catalog/Income.aspx" width = "600px" height = "350px"></iframe></div><br> 
02:52 PM 07/09/2016
user
Hi
02:39 PM 10/09/2016
bot
Hi there!
02:39 PM 10/09/2016
