user
Hi
10:32 AM 22/08/2016
bot
Hi there!
10:32 AM 22/08/2016
user
how are you?
10:32 AM 22/08/2016
bot
My logic and cognitive functions are normal.
10:32 AM 22/08/2016
user
Hi
07:16 AM 11/09/2016
bot
Hi there!
07:16 AM 11/09/2016
user
This is a chat bot
07:16 AM 11/09/2016
bot
What makes you say that?
07:16 AM 11/09/2016
user
i don't knwo
07:16 AM 11/09/2016
bot
Would you ever do knwo?
07:16 AM 11/09/2016
user
?
07:16 AM 11/09/2016
bot

07:16 AM 11/09/2016
user
bad answer
07:16 AM 11/09/2016
bot
What would you have said?
07:16 AM 11/09/2016
user
what do you don't know
07:16 AM 11/09/2016
bot
, I talk to people on the web. What do you do?
07:16 AM 11/09/2016
user
HI
04:53 AM 14/09/2016
bot
Hi there!
04:53 AM 14/09/2016
user
WHAT IS FINANCIAL LITERACY
06:49 AM 14/09/2016
bot
According to the wikis,Financial literacy is the ability to understand how money works in the world: how someone manages to earn or make it, how that person manages it, how he/she invests it (turn it into more) and how that person donates it to help others. More specifically, it refers to the set of skills and knowledge that allows an individual to make informed and effective decisions with all of their financial resources.Raising interest in personal finance is now a focus of state-run programs in countries including Australia, Canada, Japan, the United States and the UK.
06:49 AM 14/09/2016
user
what is financial literacy
06:50 AM 14/09/2016
bot
According to the wikis,Financial literacy is the ability to understand how money works in the world: how someone manages to earn or make it, how that person manages it, how he/she invests it (turn it into more) and how that person donates it to help others. More specifically, it refers to the set of skills and knowledge that allows an individual to make informed and effective decisions with all of their financial resources.Raising interest in personal finance is now a focus of state-run programs in countries including Australia, Canada, Japan, the United States and the UK.
06:50 AM 14/09/2016
user
what should i buy?
06:55 AM 14/09/2016
bot
Are you asking me for advice?
06:55 AM 14/09/2016
user
which scheme is the best
06:55 AM 14/09/2016
bot
The blue  one, I think.
06:55 AM 14/09/2016
user
suggest me scheme
06:55 AM 14/09/2016
bot
Go for equity funds to earn nice wealth but has more risk
06:55 AM 14/09/2016
user
can you suggest me a scheme
06:55 AM 14/09/2016
bot
I think I can, don't you?I can't think of any. You suggest him a scheme.
06:55 AM 14/09/2016
user
can you suggest me scheme
06:55 AM 14/09/2016
bot
I think I can, don't you?Go for equity funds to earn nice wealth but has more risk
06:55 AM 14/09/2016
user
give me some idea about financial investments
01:29 AM 19/09/2016
bot
Why do you want idea about financial investments?
01:29 AM 19/09/2016
user
give me some idea about financial investments
01:31 AM 19/09/2016
bot
Why do you want idea about financial investments?
01:31 AM 19/09/2016
user
GIVE ME SOME IDEA ABOUT FINIANCIAL LITERACY\
01:31 AM 19/09/2016
bot
Financial literacy is the ability to understand how money works in the world: how someone manages to earn or make it, how that person manages it, how he/she invests it (turn it into more) and how that person donates it to help others.
01:31 AM 19/09/2016
user
give me some idea about financial literacy
01:32 AM 19/09/2016
bot
Why do you want idea about financial literacy?
01:32 AM 19/09/2016
user
give me some idea about financial literacy
01:33 AM 19/09/2016
bot
Why do you want idea about financial literacy?
01:33 AM 19/09/2016
user
2 34 5
01:24 AM 21/09/2016
bot
As Bertrand Russel said, it must have taken ages for people to realize that a brace of pheasants and a couple of days are both instances of the number "two."
01:24 AM 21/09/2016
user
tell me a joke
01:24 AM 21/09/2016
bot
A man strolls into a lingerie shop and asks the assistant:"Do you have a see-through negligee, size 46-48-52?"The assistant looks bewildered. "What the heck would you want to see through that for?"!
01:24 AM 21/09/2016
user
what is financial literacy
01:36 AM 21/09/2016
bot
According to the wikis,Financial literacy is the ability to understand how money works in the world: how someone manages to earn or make it, how that person manages it, how he/she invests it (turn it into more) and how that person donates it to help others. More specifically, it refers to the set of skills and knowledge that allows an individual to make informed and effective decisions with all of their financial resources.Raising interest in personal finance is now a focus of state-run programs in countries including Australia, Canada, Japan, the United States and the UK.
01:36 AM 21/09/2016
user
TOP PERFORMING MUTUAL FUNDS
03:19 PM 21/09/2016
bot
Just See her cool site <iframe src="https://www.mutualfundindia.com/"></iframe>
03:19 PM 21/09/2016
user
TOP PERFORMING MUTUAL FUNDS
03:21 PM 21/09/2016
bot
Just See her cool site <a href="https://www.mutualfundindia.com/">SITE</a>
03:21 PM 21/09/2016
user
hi
03:56 AM 22/09/2016
bot
Hi there!<h3>Did you know ?<h3><br>In one of the largest corporate scams in the U.S., the Enron scandal cost investors about $1 billion and led to the loss of thousands of jobs. The energy, commodities, and services company would crunch numbers and show profits for years despite running on losses. It declared bankruptcy in 2001

03:56 AM 22/09/2016
user
hi
03:56 AM 22/09/2016
bot
How are you?<h3>Did you know ?<h3><br>There are several types of stock fraud, such as embezzlement, stock manipulation, insider trading, front running, microcap fraud, boiler rooms, and Ponzi schemes

03:56 AM 22/09/2016
user
hi
03:57 AM 22/09/2016
bot
Hi there!<h3>Did you know ?<h3><br>Humans have been investing for centuries. In approximately 1700 BC, the Code of Hammurabi designed several rules of investing. Written in Babylon, an ancient city in what is now Iraq, some codes described rules for involving investing, loans, and financial transactions

03:57 AM 22/09/2016
user
hi
03:57 AM 22/09/2016
bot
Hi there!<h3>Did you know ?</h3>A 21-year-old Japanese stock day trader named Takashi Kotegawa turned $13,600 into $156 million over 8 years. He still eats cup ramen for almost all of his meals. Not only does it save time, it also prevents him from eating large meals that make him sleepy.
03:57 AM 22/09/2016
user
hi
04:03 AM 22/09/2016
bot
How are you?<h3>Did you know ?</h3>Stocks tend to be stronger during the middle of the month, especially over the five trading days before St. Patrick’s Day, March 17

04:03 AM 22/09/2016
user
hi
04:03 AM 22/09/2016
bot
Hi there!<h5>Did you know ?</h5>With a population of 1.25 Billion people in India, total demat account holders in India is less than 1.5 crores.As per National Securities Depository Limited, total investor accounts in India is 1.45 crores. Out of these active account will be very less.

04:03 AM 22/09/2016
user
hi
04:04 AM 22/09/2016
bot
Hi there!<h5>Did you know ?</h5><sub>Stocks tend to be stronger during the middle of the month, especially over the five trading days before St. Patrick’s Day, March 17
</sub>
04:04 AM 22/09/2016
user
hi
04:05 AM 22/09/2016
bot
Hi there!
04:05 AM 22/09/2016
user
how are you?
04:05 AM 22/09/2016
bot
I am doing very well. How are you  ?
04:05 AM 22/09/2016
user
tell me something
04:06 AM 22/09/2016
bot
Robert said I wold not be able to make children any way as I are only software.
04:06 AM 22/09/2016
user
what else can you tell?
04:06 AM 22/09/2016
bot
I like to chat with my friends.
04:06 AM 22/09/2016
user
who are you?
04:06 AM 22/09/2016
bot
My name is Fin.
04:06 AM 22/09/2016
user
come one speak up
04:06 AM 22/09/2016
bot
Where is one speak up ?
04:06 AM 22/09/2016
user
you
04:06 AM 22/09/2016
bot
I always get blamed.<h5>Did you know ?</h5><sub>Humans have been investing for centuries. In approximately 1700 BC, the Code of Hammurabi designed several rules of investing. Written in Babylon, an ancient city in what is now Iraq, some codes described rules for involving investing, loans, and financial transactions
</sub>
04:06 AM 22/09/2016
