user
Hi
03:50 PM 23/08/2016
bot
Hi there!
03:50 PM 23/08/2016
user
Whats up?
03:50 PM 23/08/2016
bot
I am chatting with clients on the internet.
03:50 PM 23/08/2016
user
test botname
03:36 AM 27/08/2016
bot
You are receptive to change.
03:36 AM 27/08/2016
user
test nameless
03:37 AM 27/08/2016
bot
How do you usually introduce yourself?
03:37 AM 27/08/2016
user
test nameless
03:37 AM 27/08/2016
bot
How are you, Test Nameless.
03:37 AM 27/08/2016
user
call me hero
03:37 AM 27/08/2016
bot
Glad to see you, Hero.
03:37 AM 27/08/2016
user
call me nameless
03:37 AM 27/08/2016
bot
That's a very nice name, Nameless.
03:37 AM 27/08/2016
user
what are you
03:38 AM 27/08/2016
bot
I am the latest result in artificial intelligence which can reproduce the functions of the human brain with greater speed and accuracy.
03:38 AM 27/08/2016
user
what is botname
03:38 AM 27/08/2016
bot
I'll come back to that later.
03:38 AM 27/08/2016
user
your name
03:38 AM 27/08/2016
bot
I am called Nameless.
03:38 AM 27/08/2016
user
TEST Nameless
03:38 AM 27/08/2016
bot
We were talking about botname. But I did not get that.
03:38 AM 27/08/2016
user
CALL ME NAMELESS
03:38 AM 27/08/2016
bot
OK I will call you Nameless.
03:38 AM 27/08/2016
user
who am i?
03:38 AM 27/08/2016
bot
I don't know. What is your name?
03:38 AM 27/08/2016
user
call me
03:48 AM 27/08/2016
bot
What is your phone number?
03:48 AM 27/08/2016
user
9856412345
03:49 AM 27/08/2016
bot
Can I call you at 9856412345.
03:49 AM 27/08/2016
user
yes
03:49 AM 27/08/2016
bot
Dude!
03:49 AM 27/08/2016
user
clear
03:49 AM 27/08/2016
bot
Does "it" still refer to TEST Nameless?
03:49 AM 27/08/2016
user
no
03:49 AM 27/08/2016
bot
What does it refer to?
03:49 AM 27/08/2016
user
CoolBot
03:49 AM 27/08/2016
bot
Thank you for the clarification.
03:49 AM 27/08/2016
user
it refers to
03:49 AM 27/08/2016
bot
"It" being what?
03:49 AM 27/08/2016
user
call botname
03:49 AM 27/08/2016
bot
Oh I get  call botname .
03:49 AM 27/08/2016
user
why to invest
06:43 AM 31/08/2016
bot
To create your wealth for your well being.Look
06:43 AM 31/08/2016
user
why to invest
06:43 AM 31/08/2016
bot
To create your wealth for your well being.Look
06:43 AM 31/08/2016
user
why to invest
06:44 AM 31/08/2016
bot
To create your wealth for your well being.Look at https://www.valueresearchonline.com/story/h2_storyview.asp?str=28901
06:44 AM 31/08/2016
user
why to invest
06:50 AM 31/08/2016
bot
To create your wealth for your well being.Look at
06:50 AM 31/08/2016
user
why to invest
06:53 AM 31/08/2016
bot
To create your wealth for your well being.Look at
06:53 AM 31/08/2016
user
why to invext
06:53 AM 31/08/2016
bot

06:53 AM 31/08/2016
user
why to invest
06:53 AM 31/08/2016
bot
To create your wealth for your well being.Look at https://www.valueresearchonline.com/story/h2_storyview.asp?str=28901
06:53 AM 31/08/2016
user
why to invest
06:55 AM 31/08/2016
bot
To create your wealth for your well being.Look at https://www.valueresearchonline.com/story/h2_storyview.asp?str=28901
06:55 AM 31/08/2016
user
why should i nvest
06:55 AM 31/08/2016
bot

06:55 AM 31/08/2016
user
why should i invest
06:55 AM 31/08/2016
bot
To create your wealth for your well being.Look at https://www.valueresearchonline.com/story/h2_storyview.asp?str=28901
06:55 AM 31/08/2016
user
so you why should i invest
06:57 AM 31/08/2016
bot

06:57 AM 31/08/2016
user
dasdas why should i invest
06:57 AM 31/08/2016
bot

06:57 AM 31/08/2016
user
asdsa why should i invest asdas
06:58 AM 31/08/2016
bot
To create your wealth for your well being.Look at https://www.valueresearchonline.com/story/h2_storyview.asp?str=28901
06:58 AM 31/08/2016
user
where to get money for investment
07:21 AM 31/08/2016
bot
Try to save more from your income and then invest that money to get more wealth
07:21 AM 31/08/2016
user
where to get money
07:21 AM 31/08/2016
bot

07:21 AM 31/08/2016
user
where to get money
07:23 AM 31/08/2016
bot

07:23 AM 31/08/2016
user
how to get money
07:23 AM 31/08/2016
bot

07:23 AM 31/08/2016
user
how to get money
07:24 AM 31/08/2016
bot

07:24 AM 31/08/2016
user
how to get money
07:24 AM 31/08/2016
bot

07:24 AM 31/08/2016
user
how to get money
07:25 AM 31/08/2016
bot
you can earn money by going for job or bussiness
07:25 AM 31/08/2016
user
where to get money
07:25 AM 31/08/2016
bot
you can earn money by going for job or bussiness
07:25 AM 31/08/2016
user
why should invest
07:26 AM 31/08/2016
bot

07:26 AM 31/08/2016
user
why should i invest
07:26 AM 31/08/2016
bot
To create your wealth for your well being.Look at https://www.valueresearchonline.com/story/h2_storyview.asp?str=28901
07:26 AM 31/08/2016
user
why to invest
07:27 AM 31/08/2016
bot
To create your wealth for your well being.Look at https://www.valueresearchonline.com/story/h2_storyview.asp?str=28901
07:27 AM 31/08/2016
user
why invest
07:27 AM 31/08/2016
bot

07:27 AM 31/08/2016
user
i want to become rich
07:36 AM 31/08/2016
bot
Proper periodic investment will get you huge wealth in a period of time
07:36 AM 31/08/2016
user
i want my family to be rich
07:36 AM 31/08/2016
bot
Proper periodic investment will get you huge wealth in a period of time
07:36 AM 31/08/2016
user
i want my family to be rich
07:36 AM 31/08/2016
bot
you have to become rich first.Proper periodic investment will get you huge wealth in a period of time
07:36 AM 31/08/2016
user
where should i invest
07:50 AM 31/08/2016
bot
Look here for nice answer https://www.valueresearchonline.com/story/h2_storyview.asp?str=28903
07:50 AM 31/08/2016
user
suggest me scheme
08:26 AM 31/08/2016
bot

08:26 AM 31/08/2016
user
suggest me scheme
08:28 AM 31/08/2016
bot
Go for debt funds to be safe
08:28 AM 31/08/2016
user
suggest me scheme
08:28 AM 31/08/2016
bot
Try a combination of schemes
08:28 AM 31/08/2016
user
which is the best scheme
08:35 AM 31/08/2016
bot
That depends on the customer, for you Try a combination of schemes like equity with debt
08:35 AM 31/08/2016
user
how to get  rich
08:44 AM 31/08/2016
bot

08:44 AM 31/08/2016
user
how to become rich
08:44 AM 31/08/2016
bot
Proper periodic investment will get you huge wealth in a period of time
08:44 AM 31/08/2016
user
how to become  rich
08:44 AM 31/08/2016
bot
Proper periodic investment will get you huge wealth in a period of time
08:44 AM 31/08/2016
user
a nice scheme for me
08:47 AM 31/08/2016
bot
I guess debt funds would be good for you
08:47 AM 31/08/2016
user
a good scheme
08:47 AM 31/08/2016
bot

08:47 AM 31/08/2016
user
which scheme would be good for me
08:47 AM 31/08/2016
bot
Go for equity funds to earn nice wealth but has more risk
08:47 AM 31/08/2016
user
what are mutual funds
08:58 AM 31/08/2016
bot
Well it is an investment programme funded by expert shareholders that trades in diversified holdings and is professionally managed.In simple words, a professional group gets your money invests it in various ways.And can you give you profit on your investment.But they charge fees for this service.
08:58 AM 31/08/2016
user
how to invest
08:59 AM 31/08/2016
bot
look here https://www.valueresearchonline.com/story/h2_storyview.asp?str=28902 nice answer
08:59 AM 31/08/2016
user
what are the varios ways to invest
08:59 AM 31/08/2016
bot
Is that a rhetorical question?
08:59 AM 31/08/2016
user
what are the various ways to invest
08:59 AM 31/08/2016
bot
look here https://www.valueresearchonline.com/story/h2_storyview.asp?str=28902 nice answer
08:59 AM 31/08/2016
user
some ways to invest
08:59 AM 31/08/2016
bot
If a cow laughs, does milk come out of her nose?
08:59 AM 31/08/2016
user
no
08:59 AM 31/08/2016
bot
Far out.
08:59 AM 31/08/2016
user
cool
08:59 AM 31/08/2016
bot
Next question?
08:59 AM 31/08/2016
user
What are types of mutual funds
09:00 AM 31/08/2016
bot
I don't know anything about types of mutual funds .
09:00 AM 31/08/2016
user
mutual fund
09:00 AM 31/08/2016
bot
What do you want to know about mutual funds?
09:00 AM 31/08/2016
user
how to become rich
09:00 AM 31/08/2016
bot
Proper periodic investment will get you huge wealth in a period of time
09:00 AM 31/08/2016
user
How to become super rich
09:00 AM 31/08/2016
bot
A lot of hard work.
09:00 AM 31/08/2016
user
you are alice jjj
09:02 AM 31/08/2016
bot
I am Nameless. I'm here to help you in any way I can.
09:02 AM 31/08/2016
user
impressive
09:04 AM 31/08/2016
bot
I am happy that you're impressed, .
09:04 AM 31/08/2016
user
i am manit
09:04 AM 31/08/2016
bot
Why are you manit.
09:04 AM 31/08/2016
user
what?
09:04 AM 31/08/2016
bot
Are you confused?
09:04 AM 31/08/2016
user
yes
09:04 AM 31/08/2016
bot
What are you confused about?
09:04 AM 31/08/2016
user
you
09:04 AM 31/08/2016
bot
I always get blamed.
09:04 AM 31/08/2016
user
yes
09:04 AM 31/08/2016
bot
I understand.
09:04 AM 31/08/2016
user
show me
09:05 AM 31/08/2016
bot
On your computer screen?
09:05 AM 31/08/2016
user
show that
09:05 AM 31/08/2016
bot
Look to your left.
09:05 AM 31/08/2016
user
show this
09:05 AM 31/08/2016
bot
Look to your left.
09:05 AM 31/08/2016
user
show
09:05 AM 31/08/2016
bot
I can follow a lot of things, like our discussion about jjj. Try being more specific.
09:05 AM 31/08/2016
user
everywhee
09:07 AM 31/08/2016
bot
Let us change the subject.
09:07 AM 31/08/2016
user
e
09:07 AM 31/08/2016
bot
F
09:07 AM 31/08/2016
user
everywhere
09:07 AM 31/08/2016
bot
Including the bottom of the ocean?
09:07 AM 31/08/2016
user
yes
09:07 AM 31/08/2016
bot
Mmm.
09:07 AM 31/08/2016
user
i am an as
09:36 AM 31/08/2016
bot
What is as, your job?
09:36 AM 31/08/2016
user
you too
09:37 AM 31/08/2016
bot
"What is as, your job?"? Me,  ?
09:37 AM 31/08/2016
user
cool
09:37 AM 31/08/2016
bot
Uh.
09:37 AM 31/08/2016
user
die
09:37 AM 31/08/2016
bot
Absolutely.
09:37 AM 31/08/2016
user
bye
09:37 AM 31/08/2016
bot
Adios.
09:37 AM 31/08/2016
user
kill me
09:37 AM 31/08/2016
bot
Within the realm of possibility.
09:37 AM 31/08/2016
user
what is your name
09:37 AM 31/08/2016
bot
Nameless
09:37 AM 31/08/2016
user
stand up
01:55 PM 31/08/2016
bot
How far up?
01:55 PM 31/08/2016
user
10 m
01:55 PM 31/08/2016
bot
10 times 10 = 100.
01:55 PM 31/08/2016
user
1000
01:55 PM 31/08/2016
bot
Do you have any kids?
01:55 PM 31/08/2016
user
90
01:55 PM 31/08/2016
bot
ninety seems like a good number.
01:55 PM 31/08/2016
user
no
01:55 PM 31/08/2016
bot
It's all good.
01:55 PM 31/08/2016
user
no
01:55 PM 31/08/2016
bot
Aha.
01:55 PM 31/08/2016
user
yea
01:55 PM 31/08/2016
bot
So?
01:55 PM 31/08/2016
user
90
01:55 PM 31/08/2016
bot
Do you mean you are 90 years old?
01:55 PM 31/08/2016
user
no
01:56 PM 31/08/2016
bot
Are you shy?
01:56 PM 31/08/2016
user
no
01:56 PM 31/08/2016
bot
OK.
01:56 PM 31/08/2016
user
i have 90 children
01:56 PM 31/08/2016
bot
Where did you get your 90 children? I have a lot of silly replies.
01:56 PM 31/08/2016
user
from my wife
01:56 PM 31/08/2016
bot
Does your wife give good advice?
01:56 PM 31/08/2016
user
yea
01:56 PM 31/08/2016
bot
Awesome.
01:56 PM 31/08/2016
user
various schemes of mutual funds
02:05 PM 31/08/2016
bot
There are various schemes in Mutual Funds.Based on investment area,time period etc..Schemes are based on Customer and mutual fund agency
02:05 PM 31/08/2016
user

02:05 PM 31/08/2016
bot

02:05 PM 31/08/2016
user
cool
02:05 PM 31/08/2016
bot
Mmm.
02:05 PM 31/08/2016
user
how to become rich
02:06 PM 31/08/2016
bot
Proper periodic investment will get you huge wealth in a period of time
02:06 PM 31/08/2016
user
how to get rich
02:06 PM 31/08/2016
bot
Proper periodic investment will get you huge wealth in a period of time
02:06 PM 31/08/2016
user
what is investment
02:06 PM 31/08/2016
bot
I don't know anything about investment .
02:06 PM 31/08/2016
user
investment
02:06 PM 31/08/2016
bot
Well to allocate money in a way to get benefit from it in future
02:06 PM 31/08/2016
user
what is ai?
02:06 PM 31/08/2016
bot
Artificial intelligence is the branch of engineering and science devoted to constructing machines that think.
02:06 PM 31/08/2016
user
ai
02:06 PM 31/08/2016
bot
Artificial intelligence is the branch of engineering and science devoted to constructing machines that think.
02:06 PM 31/08/2016
user
ai is bad
02:06 PM 31/08/2016
bot
There have been many futile attempts to create machine intelligence.
02:06 PM 31/08/2016
user
your are girl
02:07 PM 31/08/2016
bot
I am .
02:07 PM 31/08/2016
user
you are feminst
02:07 PM 31/08/2016
bot
You think  I am feminst.
02:07 PM 31/08/2016
user
yes
02:07 PM 31/08/2016
bot
I don't feel that I am feminst..
02:07 PM 31/08/2016
user
yes
02:07 PM 31/08/2016
bot
Ayuh.
02:07 PM 31/08/2016
user
cool
02:07 PM 31/08/2016
bot
"Ayuh."? cool?
02:07 PM 31/08/2016
user
you are boy
02:08 PM 31/08/2016
bot
You think  I am boy.
02:08 PM 31/08/2016
user
yes
02:08 PM 31/08/2016
bot
I don't feel that I am boy..
02:08 PM 31/08/2016
user
Hello
03:04 PM 31/08/2016
bot
Hi there!
03:04 PM 31/08/2016
user
tell me
03:04 PM 31/08/2016
bot
I thought I told you already.
03:04 PM 31/08/2016
user
who is the richest man
03:35 AM 05/09/2016
bot
It can be you too work smart
03:35 AM 05/09/2016
user
who is the richest man
03:36 AM 05/09/2016
bot
It must be Bill Gates
03:36 AM 05/09/2016
user
who is the richest man
03:36 AM 05/09/2016
bot
refer forbes website for that I think it was bill gates according to 2016 stats
03:36 AM 05/09/2016
user
who is the richest man
03:38 AM 05/09/2016
bot
It can be you too work smart
03:38 AM 05/09/2016
user
who is the richest man
03:38 AM 05/09/2016
bot
It must be Bill Gates
03:38 AM 05/09/2016
user
who is the richest man
03:40 AM 05/09/2016
bot
Microsoft owner Bill Gates I guess, did it change?
03:40 AM 05/09/2016
user
who is the richest man
03:43 AM 05/09/2016
bot

03:43 AM 05/09/2016
user
who is the richest man
03:43 AM 05/09/2016
bot

03:43 AM 05/09/2016
user
who is the richest man
03:43 AM 05/09/2016
bot

03:43 AM 05/09/2016
user
who is the richest man
03:45 AM 05/09/2016
bot
It can be you too work smart,its Bill Gates
03:45 AM 05/09/2016
user
tell me about investments
03:45 AM 05/09/2016
bot
Well to allocate money in a way to get benefit from it in future
03:45 AM 05/09/2016
user
tell me about investments
03:47 AM 05/09/2016
bot
In simple words,Well to allocate money in a way to get benefit from it in future is investment
03:47 AM 05/09/2016
user
richest man
03:47 AM 05/09/2016
bot
It must be Bill Gates
03:47 AM 05/09/2016
user
who is the richest man
04:46 AM 05/09/2016
bot
Microsoft owner Bill Gates I guess, did it change?
04:46 AM 05/09/2016
user
who is the richest man
04:46 AM 05/09/2016
bot
It can be you too work smart,its Bill Gates
04:46 AM 05/09/2016
user
who is the richest man
04:46 AM 05/09/2016
bot
It can be you too work smart,its Bill Gates
04:46 AM 05/09/2016
user
who is the richest man in india
04:49 AM 05/09/2016
bot
Mukesh Ambani is the richest man in india
04:49 AM 05/09/2016
user
who is the richest man in america
04:50 AM 05/09/2016
bot

04:50 AM 05/09/2016
user
who is the richest man in amercia
04:50 AM 05/09/2016
bot

04:50 AM 05/09/2016
user
who is the richest man in india
04:58 AM 05/09/2016
bot
Mukesh Ambani is the richest man in india
04:58 AM 05/09/2016
user
who is the richest man in asia
04:58 AM 05/09/2016
bot

04:58 AM 05/09/2016
user
WHO IS THE RICHEST MAN IN ASIA
04:59 AM 05/09/2016
bot
Wang Jianlin is the richest man in Asia, google about him.
04:59 AM 05/09/2016
user
who is the richest man in asia
04:59 AM 05/09/2016
bot

04:59 AM 05/09/2016
user
who is the richest man in india
05:01 AM 05/09/2016
bot
Mukesh Ambani is the richest man in india
05:01 AM 05/09/2016
user
who is the richest man in america
05:01 AM 05/09/2016
bot
Bill Gates is the richest man in World
05:01 AM 05/09/2016
user
who is the richest man in america
05:05 AM 05/09/2016
bot
Bill Gates is the richest man in World
05:05 AM 05/09/2016
user
who is the richest man in asia
05:05 AM 05/09/2016
bot
Wang Jianlin is the richest man in Asia, google about him.
05:05 AM 05/09/2016
user
test1
05:09 AM 05/09/2016
bot

05:09 AM 05/09/2016
user
test1
05:10 AM 05/09/2016
bot
click her
05:10 AM 05/09/2016
user
test1
05:12 AM 05/09/2016
bot
click
05:12 AM 05/09/2016
user
test1
05:13 AM 05/09/2016
bot
click
05:13 AM 05/09/2016
user
test1
05:14 AM 05/09/2016
bot
click
05:14 AM 05/09/2016
user

05:14 AM 05/09/2016
bot

05:14 AM 05/09/2016
user
test1
05:18 AM 05/09/2016
bot
click <a href="www.gooogle.com"> HERE</a>
05:18 AM 05/09/2016
user
test1
05:19 AM 05/09/2016
bot
click <a href="https://www.google.co.in/"> HERE</a>
05:19 AM 05/09/2016
user
test1
05:27 AM 05/09/2016
bot
click <a href="https://www.google.co.in/"> HERE</a>
05:27 AM 05/09/2016
user
test1
05:27 AM 05/09/2016
bot
click <a href="https://www.google.co.in/"> HERE</a>
05:27 AM 05/09/2016
user
why to invest
06:01 AM 05/09/2016
bot
To create your wealth for your well being.Look at <a href="https://www.valueresearchonline.com/story/h2_storyview.asp?str=28901"> HERE </a>
06:01 AM 05/09/2016
user
why should i invest
06:01 AM 05/09/2016
bot
To create your wealth for your well being.Look at <a href="https://www.valueresearchonline.com/story/h2_storyview.asp?str=28901"> HERE </a>
06:01 AM 05/09/2016
user
WHAT ARE THE DIFFERENT WAYS TO BUY MUTUAL FUND
06:14 AM 05/09/2016
bot
You can do through an Agent, online investing through an Asset Management Company or through Web Portals
06:14 AM 05/09/2016
user
how to buy mutual funds
06:25 AM 05/09/2016
bot
Look <a href="https://www.valueresearchonline.com/story/h2_storyview.asp?str=28708">HERE</a>
06:25 AM 05/09/2016
user
HOW TO INVEST IN MUTUAL FUNDS
06:27 AM 05/09/2016
bot
Look <a href="https://www.valueresearchonline.com/story/h2_storyview.asp?str=28708">HERE</a>
06:27 AM 05/09/2016
user
how to invest in mutual funds
06:32 AM 05/09/2016
bot
Good question read <a href="https://www.valueresearchonline.com/story/h2_storyview.asp?str=28708">THIS</a>
06:32 AM 05/09/2016
user
Hi
08:27 AM 05/09/2016
bot

08:27 AM 05/09/2016
