<!DOCTYPE HTML>
<html lang="en-US">
        <head>
                <title>Finance agent - Chat</title>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
                <link rel="stylesheet" href={{ url_for('static', filename='assets/css/main.css') }} />
                <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='cool.png') }}"  />
                <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        </head>
        <body>

                <!-- Banner -->
                        <section id="banner">
                                <h2><strong> Finance agent - Chat </strong> </h2>
                                <p>Tired of searching numerous sites and articles, Get ready to get quick answers to you queries</p>
                                <ul class="actions">
                                        <li><a href="#two" class="button special">Get started</a></li>
                                </ul>
                        </section>

                <!-- Two -->
                        <section id="two" class="wrapper style2 special">
                                <div class="inner narrow">
                                        <header>
                                                <h2>Get in touch</h2>
                                        </header>
										
                                                <form class="form-container" method="post" action="javascript:GetReply()" >
                                                        <div class="form-title"><h2>Chat</h2></div>
                                                        <div id= "textarea" >
                                                        Guide: {{ botreply }}
                                                        </div><br>

                                                        <input class="form-field" id="message_box" type="text" name="message_box" autofocus /> 
                                                                  <div class="submit-container">
                                                        <input class="submit-button" type="submit" value="Send" />
                                                        </div>     
                                                </form>
                                                	<script type="text/javascript" >
												function GetReply(){
												  var xhttp = new XMLHttpRequest();
												  xhttp.onreadystatechange = function() {
												  if (xhttp.readyState == 4 && xhttp.status == 200) {
													document.getElementById("textarea").innerHTML = xhttp.responseText ;
													document.getElementById("message_box").value = ""
												  }
												  };
												  xhttp.open("POST", "/replyalone", true);
												  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
												  xhttp.send("message_box="+document.getElementById("message_box").value);
												}	
												</script>
                                </div>
                        </section>


                <!-- Footer -->
                        <footer id="footer">
                                <div class="copyright">
                                        <p>All investments are subject to market risk please read the scheme carefully</p>
                                </div>
                        </footer>

                <!-- Scripts -->
                        <script src={{ url_for('static', filename='assets/js/jquery.min.js' ) }}></script>
                        <script src={{ url_for('static', filename='assets/js/skel.min.js') }}></script>
                        <script src={{ url_for('static', filename='assets/js/util.js') }}></script>
                        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
                        <script src={{ url_for('static', filename='assets/js/main.js') }}></script>

        </body>
</html>