<!DOCTYPE HTML>
<html>
<head>
    <title> 
    Finance agent - Chat 
    </title>
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='cool.png') }}"  />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
<header>
     <h1 class = "header_h1" >Your Finance Agent</h1>
    <h3 class = "header_h3" >An aid for your investment and for your future</h3>
     <p>All investments are subject to market risk please read the scheme carefully</p>
</header>


<form class="form-container" method="post" action="" >
 <div class="form-title"><h2>Chat</h2></div>
<div id= "textarea" >
Guide: {{ botreply }}
</div><br>

<input class="form-field" type="text" name="message_box" /> 
      <div class="submit-container">
<input class="submit-button" type="submit" value="Send" />
</div>     
</form> 


<footer>
   <p>Created by: Kapoor</p>
   <p>Contact information: <B> manitkapoor2@gmail.com </B></p>
</footer> 


</body>
</head>