<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Finance Agent</title> 
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end: Mobile Specific -->
	

    <!-- start: CSS -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/GoogleFonts.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/jquery-ui.css')}}">
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/slider1.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/slider2.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/slider3.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/login_css.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/register_formcss.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/chat.css') }}"/>
	<!-- end: CSS -->


</head>
    <header>
		

		<div class="container">
			<div class="row-fluid">
				<div class="navigation"> 
					<div class="navbar navbar-fixed-top">
						<div class="navbar-inner">
							<a class="btn btn-navbar btnOverlay" data-toggle="collapse" data-target=".nav-collapse">
								menu
							</a>
							<div class="nav-collapse collapse">
								<ul class="nav">
									<li><a  id="Homea" class="home">Home</a></li>
									<li><a  href="/logout" class="Login">Logout</a></li>
									<li><a  id="quotesa" class="about">quotes</a></li>
									<li><a  id="teama" class="team">Team</a></li>
									<li><a  id="contacta" class="contact">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>		
			
	</header>
	
	{% block content %}{% endblock %}

	
		<footer>
		
		<div id="copyright">
			All investments are subjected to market risks.Please read carefull documents 
		</div>
		<div id="social">
			<a href="http://facebook.com/BootstrapMaster" rel="tooltip" title="Facebook" class="facebook">Facebook</a>
			<a href="http://facebook.com/BootstrapMaster" rel="tooltip" title="Twitter" class="twitter">Twitter</a>
			<a href="http://BootstrapMaster.com/feed/" rel="tooltip" title="RSS" class="rss">RSS</a>
			<a href="#" rel="tooltip" title="Github" class="github">Github</a>
			<a href="#" rel="tooltip" title="LinkedIn" class="linkedin">LinkedIn</a>
			<a href="#" rel="tooltip" title="Pintrest" class="pintrest">Pintrest</a>
			<a href="#" rel="tooltip" title="Vimeo" class="vimeo">Vimeo</a>
			<a href="#" rel="tooltip" title="YouTube" class="youtube">YouTube</a>
		</div>	
		
	</footer>	
	  <div id="chat-dialog" title="Basic dialog">
		<form method="post" action="javascript:GetReply()" >
		<div id= "chat-textarea" >
		<div class="botreply">Guide: {{ botreply }}
		</div>
		</div><br>
		<input class="chat-form-field" id="message_box" type="text" name="message_box" autocomplete="off" autofocus  /> 
		<div class="chat-submit-container">
		<input class="chat-submit-button" type="submit" value="Send" />
	 </div>
	 <!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/isotope.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.imagesloaded.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/flexslider.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/carousel.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/fancybox.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/twitter.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/modernizr.custom.79639.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.ba-cond.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slitslider.js') }}"></script>
	
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/excanvas.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.flot.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.flot.pie.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.flot.stack.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.flot.resize.min.js') }}"></script>
	
	<script defer="defer" src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

	<!------javascript for chatting Agent-->
	<script src="{{ url_for('static', filename='assets/js/jquery-ui.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.dialogextend.min.js') }}" ></script>
	<script type="text/javascript"  src="{{ url_for('static', filename='assets/js/chatprocess.js') }}" ></script>
	<script type="text/javascript">	
		$(function() {
			
			var Page = (function() {
	
				var $navArrows = $( '#nav-arrows' ),
					$nav = $( '#nav-dots > span' ),
					slitslider = $( '#slider' ).slitslider( {
						onBeforeChange : function( slide, pos ) {
	
							$nav.removeClass( 'nav-dot-current' );
							$nav.eq( pos ).addClass( 'nav-dot-current' );
	
						}
					} ),
	
					init = function() {
	
						initEvents();
						
					},
					initEvents = function() {
	
						// add navigation events
						$navArrows.children( ':last' ).on( 'click', function() {
	
							slitslider.next();
							return false;
	
						} );
	
						$navArrows.children( ':first' ).on( 'click', function() {
							
							slitslider.previous();
							return false;
	
						} );
	
						$nav.each( function( i ) {
						
							$( this ).on( 'click', function( event ) {
								
								var $dot = $( this );
								
								if( !slitslider.isActive() ) {
	
									$nav.removeClass( 'nav-dot-current' );
									$dot.addClass( 'nav-dot-current' );
								
								}
								
								slitslider.jump( i + 1 );
								return false;
							
							} );
							
						} );
	
					};
	
					return { init : init };
	
			})();
	
			Page.init();
				$( '#chat-dialog' ).dialog({					
						minWidth:  1000 ,
						draggable: true,
						resizable: false,
						title: "Finance Agent"
					}).dialogExtend(
						{
							"closable" : false,
							"maximizable" : false,
							"minimizable" : true,
							"collapsable" : false,
							"dblclick" : "collapse",
							"titlebar" : "transparent",
							"minimizeLocation" : "left",
							"icons" : {
							  "close" : "ui-icon-close",
							  "maximize" : "ui-icon-clipboard",
							  "minimize" : "ui-icon-minus",
							  "collapse" : "ui-icon-triangle-1-s",
							  "restore" : " ui-icon-refresh"
							}
						}
					);
			
		});
		
			var Plook=true;	
		 //Function used to get reply
		 
    var ProfessionalLookcss="border: 2px solid #f2e3d2;background: #eeeeee;background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%);	background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%);  -webkit-border-radius: 26px;  -moz-border-radius: 26px; border-radius: 26px;-webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;-moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;font-family: 'Helvetica Neue',Helvetica,sans-serif;text-decoration: none;vertical-align: middle;min-width:300px;   padding:40px;   width:1000px;";
   
   var PlayLook="border: 2px solid #f2e3d2;   background: #c9b7a2;   background: -webkit-gradient(linear, left top, left bottom, from(#ba6912), to(#c9b7a2));   background: -webkit-linear-gradient(top, #ba6912, #c9b7a2);   background: -moz-linear-gradient(top, #ba6912, #c9b7a2);   background: -ms-linear-gradient(top, #ba6912, #c9b7a2);   background: -o-linear-gradient(top, #ba6912, #c9b7a2);   background-image: -ms-linear-gradient(top, #ba6912 0%, #c9b7a2 100%);   -webkit-border-radius: 26px;   -moz-border-radius: 26px;   border-radius: 26px;   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;-moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;font-family: 'Helvetica Neue',Helvetica,sans-serif;   text-decoration: none;   vertical-align: middle;   min-width:300px;padding:40px;   width:1000px;   ";
    
		function changelook()
	{
		if(Plook)
		{
			(document.getElementsByClassName("ui-dialog")[0]).style.cssText=PlayLook;
			Plook=false;	
		}
		else
		{
			(document.getElementsByClassName("ui-dialog")[0]).style.cssText=ProfessionalLookcss;
			Plook=true;	
		}
	}
	
	</script>
	<script type="text/javascript"  src="{{ url_for('static', filename='assets/js/ajaxprocess.js') }}" ></script>
	<!-- end: Java Script -->
	
</body>
</html>
