<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Finance Agent</title> 
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end: Mobile Specific -->
	

    <!-- start: CSS -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/GoogleFonts.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/jquery-ui.css')}}">
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/slider1.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/slider2.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='assets/css/slider3.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/chat.css') }}"/>
	<!-- end: CSS -->


</head>
    <header>
		

		<div class="container">
			<div class="row-fluid">
				<div class="navigation"> 
					<div class="navbar navbar-fixed-top">
						<div class="navbar-inner">
							<a class="btn btn-navbar btnOverlay" data-toggle="collapse" data-target=".nav-collapse">
								menu
							</a>
							<div class="nav-collapse collapse">
								<ul class="nav">
									<li ><a   href="/chathome" id="Homea" class="home" >Home</a></li>
									<li><a  href="/logout" class="Login" >Logout</a></li>
									<li ><a href="/chat" id="quotesa" class="about" >quotes</a></li>
									<li ><a href="/chatteam"id="teama" class="team" >Team</a></li>
									<li ><a href="/contactform" class="contact" >Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>		
			
	</header>

{% block content %}{% endblock %}


		<footer>
		<div id="copyright">
			For more imformation and details please contact us from the contact section.  
		</div>
		<div id="social">
			<a href="#" rel="tooltip" title="Facebook" class="facebook">Facebook</a>
			<a href="#" rel="tooltip" title="Twitter" class="twitter">Twitter</a>
			<a href="#" rel="tooltip" title="RSS" class="rss">RSS</a>
			<a href="#" rel="tooltip" title="Github" class="github">Github</a>
			<a href="#" rel="tooltip" title="LinkedIn" class="linkedin">LinkedIn</a>
			<a href="#" rel="tooltip" title="Pintrest" class="pintrest">Pintrest</a>
			<a href="#" rel="tooltip" title="Vimeo" class="vimeo">Vimeo</a>
			<a href="#" rel="tooltip" title="YouTube" class="youtube">YouTube</a>
		</div>	
		
	</footer>
	<!-- start: dialogs -->
	  <div id="chat-dialog" title="Basic dialog">
		<form method="post" action="javascript:GetReply()" >
		<div id= "chat-textarea" >
		{% from "_formhelpers.html" import render_message,render_welcome_message %}
        {% for x in messages %}
        	{{ render_message(x) }}
        {% endfor %}
        {{ render_welcome_message() }}
    	</div><br>
		<input class="chat-form-field" id="message_box" type="text" name="message_box" autocomplete="off" autofocus  /> 
		<div class="chat-submit-container">
		<button class="chat-clear-button" type="button"  value="clear" onclick="chatclear()"/>Clear</button>
		<button class="chat-article-button" type="button"  value="article" onclick="openarticles()"/>Articles</button>
		<input class="chat-submit-button" type="submit" value="Send" />
	 </div>
	
	 <!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/isotope.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.imagesloaded.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/flexslider.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/carousel.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/fancybox.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/twitter.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/modernizr.custom.79639.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.ba-cond.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.slitslider.js') }}"></script>
	
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/excanvas.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.flot.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.flot.pie.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.flot.stack.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.flot.resize.min.js') }}"></script>
	
	<script defer="defer" src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

	<!------javascript for chatting Agent-->
	<script src="{{ url_for('static', filename='assets/js/jquery-ui.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/jquery.dialogextend.min.js') }}" ></script>
	<script type="text/javascript"  src="{{ url_for('static', filename='assets/js/chatprocess.js') }}" ></script>
	<script type="text/javascript">	
		var uisetting="border: 2px solid #f2e3d2;background: #eeeeee;background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); 	background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%); 	background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%); 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );   -webkit-border-radius: 26px;   -moz-border-radius: 26px;   border-radius: 26px;   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;   font-family: 'Helvetica Neue',Helvetica,sans-serif;   text-decoration: none;   vertical-align: middle;   min-width:300px;   padding:40px;   width:1000px;"
		var prevsetting;
		$(function() {
			
			var Page = (function() {
	
				var $navArrows = $( '#nav-arrows' ),
					$nav = $( '#nav-dots > span' ),
					slitslider = $( '#slider' ).slitslider( {
						onBeforeChange : function( slide, pos ) {
	
							$nav.removeClass( 'nav-dot-current' );
							$nav.eq( pos ).addClass( 'nav-dot-current' );
	
						}
					} ),
	
					init = function() {
	
						initEvents();
						
					},
					initEvents = function() {
	
						// add navigation events
						$navArrows.children( ':last' ).on( 'click', function() {
	
							slitslider.next();
							return false;
	
						} );
	
						$navArrows.children( ':first' ).on( 'click', function() {
							
							slitslider.previous();
							return false;
	
						} );
	
						$nav.each( function( i ) {
						
							$( this ).on( 'click', function( event ) {
								
								var $dot = $( this );
								
								if( !slitslider.isActive() ) {
	
									$nav.removeClass( 'nav-dot-current' );
									$dot.addClass( 'nav-dot-current' );
								
								}
								
								slitslider.jump( i + 1 );
								return false;
							
							} );
							
						} );
	
					};
	
					return { init : init };
	
			})();
	
			Page.init();
		/*	$( '#menu-dialog' ).dialog({					
						minWidth:  100,
						draggable: false,
						resizable: false,
						title: "Menu"
					});
			  <div id="Menu-dialog">
	  <div>
		<h3>General Information</h3>
		<button>Learn About</button><br>
		<button>Know About</button><br>
		<button>Stats</button>
	  </div>
	  <div>
		<h3>Mutual Funds</h3>
		<button>Learn About</button><br>
		<button>Know About</button><br>
		<button>Stats</button>
	  </div>
	  <div>
		<h3>Chat</h3>
		<button>Resume Chat</button><br>
		<button>Close Chat</button><br>
	  </div>
	  </div>
			*/
			
				$( '#chat-dialog' ).dialog({					
						minWidth:  800,
						draggable: true,
						resizable: false,
						title: "Finance Agent"
					}).dialogExtend(
						{
							"closable" : false,
							"maximizable" : true,
							"minimizable" : true,
							"collapsable" : false,
							"dblclick" : "collapse",
							"titlebar" : "transparent",
							"minimizeLocation" : "right",
							"icons" : {
							  "close" : "ui-icon-close",
							  "maximize" : "ui-icon-clipboard",
							  "minimize" : "ui-icon-minus",
							  "collapse" : "ui-icon-triangle-1-s",
							  "restore" : " ui-icon-refresh"
							},
							 "load" : function(evt, dlg){ 
							 prevsetting=$('.ui-dialog').css('cssText');
							 $('.ui-dialog').css('cssText',uisetting);
								},
							 "beforeMinimize" : function(evt, dlg){ $('.ui-dialog').css('cssText',prevsetting); },
							 "beforeMaximize":	function(evt, dlg){ $('.ui-dialog').css('cssText',uisetting);  },
				
							 "beforeCollapse" : function(evt, dlg){ $('.ui-dialog').css('cssText',prevsetting); },
							"beforeRestore" : function(evt, dlg){ $('.ui-dialog').css('cssText',uisetting);  },
							
							
								
						}
					);
					
			$('#chat-textarea').animate({scrollTop: $('#chat-textarea').get(0).scrollHeight}, 500);	
		
				
		});
		
			var Plook=true;	
		 //Function used to get reply
		 
    var ProfessionalLookcss="border: 2px solid #f2e3d2;background: #eeeeee;background: -moz-linear-gradient(top,  #eeeeee 0%, #eeeeee 100%); background: -webkit-linear-gradient(top,  #eeeeee 0%,#eeeeee 100%);	background: linear-gradient(to bottom,  #eeeeee 0%,#eeeeee 100%);  -webkit-border-radius: 26px;  -moz-border-radius: 26px; border-radius: 26px;-webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;-moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;font-family: 'Helvetica Neue',Helvetica,sans-serif;text-decoration: none;vertical-align: middle;min-width:300px;   padding:40px;   width:1000px;";
   
   var PlayLook="border: 2px solid #f2e3d2;   background: #c9b7a2;   background: -webkit-gradient(linear, left top, left bottom, from(#ba6912), to(#c9b7a2));   background: -webkit-linear-gradient(top, #ba6912, #c9b7a2);   background: -moz-linear-gradient(top, #ba6912, #c9b7a2);   background: -ms-linear-gradient(top, #ba6912, #c9b7a2);   background: -o-linear-gradient(top, #ba6912, #c9b7a2);   background-image: -ms-linear-gradient(top, #ba6912 0%, #c9b7a2 100%);   -webkit-border-radius: 26px;   -moz-border-radius: 26px;   border-radius: 26px;   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;-moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;font-family: 'Helvetica Neue',Helvetica,sans-serif;   text-decoration: none;   vertical-align: middle;   min-width:300px;padding:40px;   width:1000px;   ";
    
		function changelook()
	{
		if(Plook)
		{
			(document.getElementsByClassName("ui-dialog")[0]).style.cssText=PlayLook;
			Plook=false;	
		}
		else
		{
			(document.getElementsByClassName("ui-dialog")[0]).style.cssText=ProfessionalLookcss;
			Plook=true;	
		}
	}
	
	</script>
	<script type="text/javascript">
	
	
	
	</script>
	<!-- end: Java Script -->
	
</body>
</html>
