	{% extends "index2.html" %}
	{% block content %}
	<!-- start: 2nd Page - Services -->
	<div id="services" class="color black">
		<!-- start: Page Title -->
			<div id="page-title">

				<div id="page-title-inner">

					<h2><span>Reset Password</span></h2>

				</div>	

			</div>
			<!-- end: Page Title -->
			<div class="container">
				{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    <ul>
				    {% for message in messages %}
				        <li ><h3 class="login_usrn">{{ message }}</h3> </li>
				    {% endfor %}
				    </ul>
				  {% endif %}
				{% endwith %}
			</div>
            <div class="container" id="LoginForm">   
				    <form name="login__form" method="post" action="/resetrequest">
				    {% from "_formhelpers.html" import render_field %}
	                {{ form.hidden_tag() }}
	                <h1 class="login_usrn">Username:</h1><br />
	                {{ render_field(form.Email,class = "login_input12",placeholder="Enter your email") }}
					<br/>
					<input type="submit" class="login_button" value="Submit Request">					
					</form>  
			</div>        
		</div>
		
	</div>
	<!-- end: 2nd Page - Services -->
	{% endblock  %}