	{% extends "index2.html" %}
	{% block content %}
	<!-- start: 6th Page - Team -->
	<div id="team" class="color white">
		
		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">

				<!-- start: Page Title -->
<div id="page-title">

	<div id="page-title-inner">

			<h2><span>Team</span></h2>

	</div>	

</div>
<!-- end: Page Title -->				

<!-- start: Row -->
<div class="row-fluid">
	
	<div class ="span12">
		
		<!-- start: Team -->	
		<div id="team">
						
			<!-- start: Row -->
			<div class="row-fluid">
			
				<!-- start: About Member -->
				<div class="span3">
					<div class="avatar">
						<img class="img-circle" src="{{ url_for('static', filename='assets/img/team1.jpg')}}" alt="team member">
					</div>	
					<div class="team-name">Shaik Shahrukh</div>
					<div class="position"> Coordinator</div>
					<p>
						 Project Coordinator ,tester ,marketing and content incharge. 
					</p>
					<div class="social_profiles">
						<ul class="social-bookmarks">
							<li class="facebook"><a href="">facebook</a></li>
							<li class="flickr"><a href="">flickr</a></li>
							<li class="linkedin"><a href="#">linkedin</a></li>
							<li class="twitter"><a href="#">twitter</a></li>
						</ul>
					</div>	
				</div>
			
				
				
				<hr class="clean visible-phone">

				<!-- start: About Member -->
				<div class="span3">
					<div class="avatar">
						<img class="img-circle" src="{{ url_for('static', filename='assets/img/team4.jpg')}}" alt="team member">
					</div>	
					<div class="team-name">Madan Kapoor</div>
					<div class="position">Leader</div>
					<p>
						 Leads the Project.Designed UI and backend
					</p>
					<div class="social_profiles">
						<ul class="social-bookmarks">
							<li class="facebook"><a href="">facebook</a></li>
							<li class="flickr"><a href="">flickr</a></li>
							<li class="linkedin"><a href="">linkedin</a></li>
							<li class="twitter"><a href="">twitter</a></li>
						</ul>
					</div>	
				</div>
				<!-- end: About Member -->
				
				<hr class="clean visible-phone">
				
				<!-- start: About Member -->
				<div class="span3">
					<div class="avatar">
						<img class="img-circle" src="{{ url_for('static', filename='assets/img/team3.jpg')}}" alt="team member">
					</div>	
					<div class="team-name">Manit Kapoor</div>
					<div class="position">UI designer</div>
					<p>
					  Designed UI and backend	 
					</p>
					<div class="social_profiles">
						<ul class="social-bookmarks">
							<li class="facebook"><a href="">facebook</a></li>
							<li class="flickr"><a href="">flickr</a></li>
							<li class="linkedin"><a href="#">linkedin</a></li>
							<li class="twitter"><a href="#">twitter</a></li>
						</ul>
					</div>	
				</div>
				<!-- end: About Member -->
				
				<hr class="clean visible-phone">

				<!-- start: About Member -->
				<div class="span3">
					<div class="avatar">
						<img class="img-circle" src="{{ url_for('static', filename='assets/img/team2.jpg')}}" alt="team member">
					</div>	
					<div class="team-name">Chandra Soodan</div>
					<div class="position">Andriod App Developer</div>
					<p>
						Developed Andriod App for the Finance agent. 
					</p>
					<div class="social_profiles">
						<ul class="social-bookmarks">
							<li class="facebook"><a href="">facebook</a></li>
							<li class="flickr"><a href="">flickr</a></li>
							<li class="linkedin"><a href="#">linkedin</a></li>
							<li class="twitter"><a href="#">twitter</a></li>
						</ul>
					</div>	
				</div>
				<!-- end: About Member -->
				
				<hr class="clean visible-phone">	
			
			</div>
			<!-- end: Row -->

		</div>
		<!-- end: Team -->
		
	</div>	
	
</div>	
<!-- end: Row -->
			</div>
			<!-- end: Wrapper -->
		
		</div>
		<!--end: Container -->
		
	</div>
	<!-- end: 6th Page - Team -->
	{% endblock %}